<div ng-controller="DashboardController as ctrl" class="dashboard" layout="column" layout-align="center">
    <div class="container" ng-show="ctrl.loadingData" flex="100">
        <md-progress-linear md-mode="query" ng-disabled="!ctrl.loadingData"></md-progress-linear>
        <md-progress-linear md-mode="query" ng-disabled="!ctrl.loadingDetData"></md-progress-linear>
    </div>
    <div flex="100" layout="row" ng-show="!ctrl.doneInitLoading" layout-align="center center" class="loader">
        <div flex="10"></div>
        <div flex="20" class="loading-element">
            <div layout="column">
                <div>
                    <i class="material-icons" ng-if="ctrl.caches.profile!=2"
                       ng-class="{'progressing' : ctrl.caches.profile==1,'todo':ctrl.caches.profile==0}">panorama_fish_eye</i>
                    <i class="material-icons done" ng-if="ctrl.caches.profile==2">offline_pin</i>
                </div>
                <div>
                    <p>Loading profile data.</p>
                </div>
            </div>
        </div>
        <div flex="20" class="loading-element">
            <div layout="column">
                <div>
                    <i class="material-icons" ng-if="ctrl.caches.events!=2"
                       ng-class="{'progressing' : ctrl.caches.events==1,'todo':ctrl.caches.events==0}">panorama_fish_eye</i>
                    <i class="material-icons done" ng-if="ctrl.caches.events==2">offline_pin</i>
                </div>
                <div>
                    <p>Loading event data.</p>
                </div>
            </div>
        </div>
        <div flex="20" class="loading-element">
            <div layout="column">
                <div>
                    <i class="material-icons" ng-if="ctrl.caches.tei!=2"
                       ng-class="{'progressing' : ctrl.caches.tei==1,'todo':ctrl.caches.tei==0}">panorama_fish_eye</i>
                    <i class="material-icons done" ng-if="ctrl.caches.tei==2">offline_pin</i>
                </div>
                <div>
                    <p>Loading children data.</p>
                </div>
            </div>
        </div>
        <div flex="20" class="loading-element">
            <div layout="column">
                <div>
                    <i class="material-icons" ng-if="ctrl.caches.malNut!=2"
                       ng-class="{'progressing' : ctrl.caches.malNut==1,'todo':ctrl.caches.malNut==0}">panorama_fish_eye</i>
                    <i class="material-icons done" ng-if="ctrl.caches.malNut==2">offline_pin</i>
                </div>
                <div>
                    <p>Collecting analytical data.</p>
                </div>
            </div>
        </div>
        <div flex="10"></div>
    </div>
    <div layout="row" ng-show="ctrl.doneInitLoading">
        <div flex="50" layout="column">
            <div flex="100">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Malnutrition Analysis">
                        <md-content class="md-padding">
                            <md-card>
                                <md-card-header class="colored-card-header">
                                    <md-card-header-text>
                                        <span class="md-title main-card-title">Reason for malnutrition</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <!--<img src="img/banner.jpg" class="md-card-image" alt="Washed Out" style="height: 150px !important;">-->
                                <md-card-content>
                                    <md-list>
                                        <md-list-item ng-repeat="malNut in ctrl.malNutReasons" class="noright">
                                            <img alt="{{ malNut.title }}" ng-src="img/health_ico.png"
                                                 class="md-avatar"/>
                                            <p>{{ malNut.title }}</p>
                                            <md-progress-circular ng-show="!malNut.selectedRecords"
                                                                  md-mode="indeterminate"
                                                                  class="md-secondary"
                                                                  md-diameter="20"></md-progress-circular>
                                            <md-button ng-click="ctrl.showMalNutTeis(malNut)"
                                                       ng-show="malNut.selectedRecords"
                                                       class="md-secondary">
                                                View <b>{{malNut.selectedRecords.length}}</b>
                                                children
                                            </md-button>
                                        </md-list-item>
                                    </md-list>
                                </md-card-content>
                            </md-card>
                        </md-content>
                    </md-tab>
                    <md-tab ng-if="ctrl.user.level<=3" label="Risk Analytics">
                        <md-card ng-controller="RiskController as rctrl">
                            <md-card-header class="colored-card-header">
                                <md-card-header-text>
                                    <span class="md-title main-card-title">Risks Analytics</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content layout="column">
                                <p class="text-center" ng-if="!rctrl.mainChart.visible">There are no risk identification
                                    data
                                    recorded for selected division.</p>
                                <div ng-if="rctrl.mainChart.visible">
                                    <div layout="row" layout-sm="column" layout-align="space-around"
                                         ng-if="rctrl.mainChart.loading">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </div>
                                    <canvas ng-if="!rctrl.mainChart.loading" class="chart chart-doughnut"
                                            chart-options="rctrl.mainChart.options"
                                            chart-data="rctrl.mainChart.data" chart-labels="rctrl.mainChart.labels"
                                            chart-click="rctrl.chartClick"></canvas>
                                </div>
                                <div ng-if="rctrl.subChart.visible" id="subChart" style="min-height: 250px">
                                    <md-divider></md-divider>
                                    <div layout="row" layout-sm="column" layout-align="space-around"
                                         ng-if="rctrl.subChart.loading">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </div>
                                    <canvas ng-if="!rctrl.subChart.loading" class="chart chart-doughnut"
                                            chart-options="rctrl.subChart.options"
                                            chart-click="rctrl.subChartClick"
                                            chart-data="rctrl.subChart.data" chart-labels="rctrl.subChart.labels">
                                    </canvas>
                                </div>
                            </md-card-content>
                        </md-card>
                    </md-tab>
                    <md-tab ng-if="ctrl.user.level<=3" label="Height / Weight">
                        <md-content class="md-padding">
                            <md-card ng-controller="NutritionController as nctrl">
                                <md-card-header class="colored-card-header">
                                    <md-card-header-text>
                                        <span class="md-title main-card-title">Height/Weight Analysis</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <!--<img src="img/banner.jpg" class="md-card-image" alt="Washed Out" style="height: 150px !important;">-->
                                <md-card-content>
                                    <md-list>
                                        <div ng-repeat="nchart in nctrl.charts">
                                            <md-list-item>
                                                <canvas class="chart chart-bar"
                                                        chart-options="nchart.options"
                                                        chart-data="nchart.data" chart-labels="nchart.labels"
                                                ></canvas>
                                            </md-list-item>
                                        </div>
                                    </md-list>
                                </md-card-content>
                            </md-card>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
        <div flex="50" layout="column">
            <!--<div flex="100">
                <md-card>
                    <md-card-header class="colored-card-header">
                        <md-card-header-text>
                            <span class="md-title main-card-title">Profile & Settings</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <p>TODO Display user profile data</p>
                        <p>Area of interest</p>
                        <h3>{{$scope["orgTree"].currentNode.displayName}}</h3>
                        <md-button ng-click="ctrl.toggleRightNav()">Change</md-button>
                    </md-card-content>
                </md-card>
            </div>-->

            <div>
                <md-card>
                    <md-card-header class="colored-card-header">
                        <md-card-header-text>
                            <span class="md-title main-card-title">Hello {{ctrl.user.level==3?"Dr. ":""}} {{ctrl.user.firstName}}!</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <md-list>
                            <md-list-item class="md-2-line">
                                <img src="img/location_ico.png" class="md-avatar" alt="admin-area"/>
                                <div class="md-list-item-text">
                                    <h3>Set your location</h3>
                                    <p>{{ctrl.currentOuSelection.displayName}}</p>
                                </div>
                                <md-button class="md-secondary" ng-click="ctrl.toggleRightNav()"
                                           aria-label="toggle">
                                    <md-icon>
                                        <i class="material-icons">edit_location</i>
                                    </md-icon>
                                    Change
                                </md-button>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item ng-if="ctrl.user.level<=3" class="md-2-line">
                                <img src="img/calendar-icon.png" class="md-avatar" alt="admin-area"/>
                                <div class="md-list-item-text">
                                    <h3>Set your report date</h3>
                                    <md-datepicker ng-model="ctrl.date" id="main-datepicker"
                                                   md-open-on-focus></md-datepicker>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-if="ctrl.user.level<=3" >
                                <img src="img/doctor-icon.png" class="md-avatar" alt="admin-area"/>
                                <div class="md-list-item-text">
                                    <h3>{{ctrl.viewedEventsCount}}</h3>
                                    <p>Events need your approval</p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-2-line">
                                <img src="img/warning-icon.png" class="md-avatar" alt="admin-area"/>
                                <div class="md-list-item-text">
                                    <h3>{{ctrl.activeEventsCount}}</h3>
                                    <p>Events need {{ctrl.user.level<=3?"sisters":"your"}} attention</p>
                                </div>
                            </md-list-item>
                            <md-list-item>
                                <span flex></span>
                                <md-button class="md-secondary" ng-click="ctrl.approveAllEvents()"
                                           aria-label="toggle" ng-if="ctrl.user.level<=3" >
                                    <md-icon>
                                        <i class="material-icons">done</i>
                                    </md-icon>
                                    Approve All
                                </md-button>
                                <md-button class="md-secondary" ng-click="ctrl.pickRandomEvent()"
                                           aria-label="toggle">
                                    <md-icon>
                                        <i class="material-icons">shuffle</i>
                                    </md-icon>
                                    Pick One
                                </md-button>
                                <md-button class="md-secondary" ng-click="ctrl.viewAllIncompleteEvents()"
                                           aria-label="toggle">
                                    <md-icon>
                                        <i class="material-icons">visibility</i>
                                    </md-icon>
                                    View All
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>

            <div ng-controller="TrendController as tctrl">
                <md-card ng-show="tctrl.mainChart.visible">
                    <md-card-header class="colored-card-header">
                        <md-card-header-text>
                            <span class="md-title main-card-title">{{tctrl.mainChart.options.title.text}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <!--<img src="img/banner.jpg" class="md-card-image" alt="Washed Out" style="height: 150px !important;">-->
                    <md-card-content>
                        <md-list>
                            <md-list-item>
                                <md-progress-circular ng-show="tctrl.mainChart.loading"></md-progress-circular>
                                <canvas class="chart chart-line" ng-show="!tctrl.mainChart.loading"
                                        chart-options="tctrl.mainChart.options"
                                        chart-data="tctrl.mainChart.data" chart-labels="tctrl.mainChart.labels"
                                ></canvas>
                            </md-list-item>
                            <md-list-item>
                                <span felx></span>
                                <md-button class="md-secondary md-warn" ng-click="tctrl.hideChart()">Hide</md-button>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>


            <!--TEST-->
            <div>
                <md-card ng-controller="TeiListController as tctrl">
                    <md-card-header class="colored-card-header">
                        <md-card-header-text>
                            <span class="md-title main-card-title">
                                {{tctrl.cardTitle}}
                            </span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <md-input-container md-no-float class="md-block" style="margin-bottom: -15px"
                                            ng-if="tctrl.global">
                            <md-icon>
                                <i class="material-icons">search</i>
                            </md-icon>
                            <input ng-model="tctrl.keyword" type="text" placeholder="Search for a child"
                                   ng-keyup="tctrl.refreshList($event)">
                        </md-input-container>
                        <md-button ng-click="ctrl.setGlobalTeiSearch()" ng-if="!tctrl.global" class="md-secondary">
                            <md-icon>
                                <i class="material-icons">arrow_back</i>
                            </md-icon>
                            Back to global Search
                        </md-button>

                        <md-content class="teiInfiniteScroll" style="background: white">
                            <md-virtual-repeat-container id="vertical-container"
                                                         md-top-index="tctrl.infiniteItems.topIndex">
                                <md-list class="md-dense">
                                    <div md-virtual-repeat="item in tctrl.infiniteItems"
                                         md-on-demand flex class="repeated-item">
                                        <md-list-item class="md-3-line " ng-if="item.fName || item.lName">
                                            <img ng-src="img/{{item.gender=='male'?'boy':'girl'}}_ico.png"
                                                 class="md-avatar"
                                                 alt="gender icon"/>
                                            <div class="md-list-item-text" layout="column">
                                                <h3>{{item.fName}} {{item.lName}}</h3>
                                                <h4>{{item.ouName}}</h4>
                                                <p>{{item.chdrNumber}}</p>
                                            </div>
                                            <md-button class="md-secondary" ng-click="ctrl.openChildProfile(item._id)">
                                                Profile
                                            </md-button>
                                        </md-list-item>
                                        <md-divider></md-divider>
                                    </div>
                                </md-list>
                                <!-- <table>
                                     <tbody>
                                     <tr md-virtual-repeat="item in tctrl.infiniteItems" md-on-demand
                                         class="repeated-item" flex ng-click="ctrl.openChildProfile(item._id)">
                                         <td>{{item.fName}} {{item.lName}}</td>
                                         <td>{{item.gender}}</td>
                                         <td>{{item.ouName}}</td>
                                         <td></td>
                                     </tr>
                                     </tbody>
                                 </table>-->

                            </md-virtual-repeat-container>
                        </md-content>
                    </md-card-content>
                </md-card>
            </div>
            <!--END TEST-->
            <!-- <div>
                 <md-card ng-show="ctrl.selectedMalNul">
                     <md-card-header class="colored-card-header">
                         <md-card-header-text>
                             <span class="md-title main-card-title">{{ctrl.selectedMalNul.title}}</span>
                         </md-card-header-text>
                     </md-card-header>
                     <md-card-content>
                         <md-content class="teiInfiniteScroll">
                             <table>
                                 <thead>
                                 <tr>
                                     <td>Name</td>
                                     <td>Gender</td>
                                     <td>Registering Unit</td>
                                     <td>CHDR Number</td>
                                 </tr>
                                 </thead>
                             </table>

                             <md-virtual-repeat-container id="vertical-container">
                                 <table>
                                     <tbody>
                                     <tr md-virtual-repeat="item in ctrl.malNutInfiniteItems" md-on-demand
                                         class="repeated-item" flex ng-click="ctrl.openChildProfile(item._id)">
                                         <td>{{item.fName}} {{item.lName}}</td>
                                         <td>{{item.gender}}</td>
                                         <td>{{item.ouName}}</td>
                                         <td>{{item.chdrNumber}}</td>
                                     </tr>
                                     </tbody>
                                 </table>

                             </md-virtual-repeat-container>
                         </md-content>
                     </md-card-content>
                 </md-card>
             </div>-->
            <!--    <md-content layout-padding flex="100" class="teiInfiniteScroll">-->
            <!-- <div>
                 <md-card felx="100" class="teiInfiniteScroll">
                     <md-card-header class="colored-card-header">
                         <md-card-header-text>
                             <span class="md-title main-card-title">Global Search</span>
                         </md-card-header-text>
                     </md-card-header>
                     <md-card-content>
                         <md-input-container md-no-float class="md-block">
                             <md-icon>
                                 <i class="material-icons">search</i>
                             </md-icon>
                             <input ng-model="ctrl.keyword" type="text" placeholder="Search for a child"
                                    ng-keyup="ctrl.refreshList($event)">
                         </md-input-container>

                         <md-content class="tei-table-container">
                             <table>
                                 <thead>
                                 <tr>
                                     <td>Name</td>
                                     <td>Gender</td>
                                     <td>Registering Unit</td>
                                     <td>CHDR Number</td>
                                 </tr>
                                 </thead>
                             </table>

                             <md-virtual-repeat-container id="vertical-container">
                                 <table>
                                     <tbody>
                                     <tr md-virtual-repeat="item in ctrl.infiniteItems" md-on-demand
                                         class="repeated-item" flex ng-click="ctrl.openChildProfile(item[0])">
                                         <td>{{item[7]}} {{item[8]}}</td>
                                         <td>{{item[9]}}</td>
                                         <td>{{item[4]}}</td>
                                         <td>{{item[12]}}</td>
                                     </tr>
                                     </tbody>
                                 </table>

                             </md-virtual-repeat-container>
                         </md-content>
                     </md-card-content>
                 </md-card>
             </div>-->
            <!--</md-content>-->
        </div>
    </div>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-toolbar class="background-theme">
            <h2 class="md-toolbar-tools">Administrative Areas</h2><!--
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.toggleRightNav()">
                <md-icon>
                    <i class="material-icons">settings</i>
                </md-icon>
            </md-button>-->
        </md-toolbar>
        <md-content layout-padding>
            <div
                    data-angular-treeview="true"
                    data-tree-id="orgTree"
                    data-tree-model="ctrl.orgTree"
                    data-node-id="id"
                    data-node-label="displayName"
                    data-node-children="children">
            </div>
        </md-content>
    </md-sidenav>


    <!--    <md-button class="md-fab md-fab md-fab-bottom-right md-faded" aria-label="Add Chart" ng-click="ctrl.showOptions()"
                   style="position: fixed; right: 100px">
            <md-icon>
                <i class="material-icons">settings</i>
            </md-icon>
        </md-button>
        <md-button class="md-fab md-fab md-fab-bottom-right md-primary" aria-label="Add Chart" ng-click="ctrl.new()"
                   style="position: fixed">
            <md-icon>
                <i class="material-icons">add</i>
            </md-icon>
        </md-button>-->
</div>