<div ng-controller="ProfileController as ctrl" class="dashboard">
    <md-content layout-padding layout="row" layout-align="left">
        <div flex="50">
            <md-card class="profile-card">
                <md-card-header>
                    <md-card-avatar>
                        <md-icon class="md-avatar-icon" md-png-icon="img/profile_default.png"></md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{ctrl.childProfile.firstName.value}} {{ctrl.childProfile.lastName.value}}</span>
                        <span class="md-subhead">{{ctrl.childProfile.chdrNumber.value}}</span>
                    </md-card-header-text>
                </md-card-header>
                <!--<md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">In-card actions</span>
                        <span class="md-subhead">Description</span>
                    </md-card-title-text>
                </md-card-title>-->
                <ng-map style="width: 100%" zoom="8" center="{{ctrl.getLocation()}}" ng-if="ctrl.getLocation()">
                    <marker position="{{ctrl.getLocation()}}" title="marker" animation="Animation.DROP"></marker>
                </ng-map>
                <md-card-content>

                    <!--    <table width="100%" class="profile-attributes-table">
                            <tbody>
                            <tr ng-repeat="attribute in ctrl.attributes">
                                <td width="50%">
                                    {{attribute.displayName}}
                                </td>
                                <td width="50%">
                                    {{attribute.value}}
                                </td>
                            </tr>
                            </tbody>
                        </table>-->

                    <md-list class="tei-attributes">
                        <md-list-item class="md-2-line" ng-repeat="att in ctrl.teiObj.attributes">
                            <!--<img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}" />-->
                            <md-input-container
                                    ng-if="att.valueType=='BOOLEAN' || att.valueType=='TRUE_ONLY'">
                                <p>{{att.displayName}}</p>
                                <!--Due to a bug of angular ng-if should be applied to md-switch too-->
                                <md-switch class="md-secondary md-" ng-model="att.value" aria-label="Switch 2"
                                           ng-true-value="'true'" ng-false-value="'false'" class="md-warn"
                                           ng-if="att.valueType=='BOOLEAN' || att.valueType=='TRUE_ONLY'">
                                    <!--{{att.displayName}}-->
                                </md-switch>
                            </md-input-container>
                            <md-input-container
                                    ng-if="att.valueType=='NUMBER' || att.valueType=='INTEGER_POSITIVE'">
                                <label>{{att.displayName}}</label>
                                <input ng-model="att.value">
                            </md-input-container>
                            <md-input-container class="md-block"
                                                ng-if="att.valueType=='TEXT' && ctrl.teiAttributes[att.attribute].optionSet">
                                <label>{{att.displayName}}</label>
                                <md-select ng-model="att.value">
                                    <md-option ng-repeat="option in ctrl.teiAttributes[att.attribute].optionSet.options"
                                               ng-value="option.code">
                                        {{option.displayName}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container
                                    ng-if="(att.valueType=='TEXT' || att.valueType=='PHONE_NUMBER') && !ctrl.teiAttributes[att.attribute].optionSet">
                                <label>{{att.displayName}}</label>
                                <input ng-model="att.value">
                            </md-input-container>

                            <md-input-container ng-if="att.valueType=='DATE'">
                                <label>{{att.displayName}}</label>
                                <md-datepicker ng-model="att.value" name="date1"></md-datepicker>
                            </md-input-container>

                            <!--  <div ng-if="att.valueType!='BOOLEAN' && att.valueType!='TRUE_ONLY'">
                                  <p>{{att.displayName}}</p>
                                  <p>{{att.value}}</p>
                              </div>-->
                        </md-list-item>
                    </md-list>
                </md-card-content>
                <md-divider>
                    <md-content style="text-align: right">
                        <span flex></span>
                        <md-button class="md-secondary md-warn" ng-click="ctrl.deleteTei()">
                            <md-icon>
                                <i class="material-icons">delete</i>
                            </md-icon>
                            Delete Profile
                        </md-button>
                        <md-button class="md-secondary" ng-click="ctrl.unenrollTei()">
                            <md-icon>
                                <i class="material-icons">touch_app</i>
                            </md-icon>
                            Unenroll
                        </md-button>
                        <md-button class="md-secondary" ng-click="ctrl.updateTei($event)">
                            <md-icon>
                                <i class="material-icons">save</i>
                            </md-icon>
                            Save Changes
                        </md-button>
                    </md-content>
                </md-divider>
                <!-- <md-button class="md-fab md-mini md-primary profile-expand-btn" aria-label="Use Android">
                     <md-icon>
                         <i class="material-icons">expand_more</i>
                     </md-icon>
                 </md-button>-->
            </md-card>
            <div ng-controller="ViewerController as ctrl" class="dashboard">
                <md-content layout-padding>
                    <!--<h3>Longitudinal Charts</h3>-->

                    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-dynamic-height>
                        <md-tab ng-repeat="chart in ctrl.charts"
                                ng-disabled="chart.disabled"
                                label="{{chart.title}}">
                            <div style="padding: 25px; text-align: center;">
                                <canvas class="chart chart-line" chart-data="chart.data" chart-labels="chart.labels"
                                        chart-series="chart.series" chart-colors="chart.dataColors"
                                        chart-options="chart.options"
                                        chart-dataset-override="chart.dso"
                                        id="chart-preview"></canvas>
                            </div>
                        </md-tab>
                    </md-tabs>

                </md-content>
            </div>
        </div>
        <div flex="50">
            <timeline side="right">
                <timeline-event ng-repeat="event in ctrl.events" side="{{$index%2==0?'left':'right'}}">
                    <timeline-badge class="{{event.status=='ACTIVE'?'warning':'success'}}">
                        <i class="material-icons">{{event.badgeIcon}}</i>
                    </timeline-badge>
                    <timeline-panel class="{{event.badgeClass}}">
                        <timeline-heading>
                            <h4>{{event.title}}</h4>
                        </timeline-heading>
                        <p>{{event.content}}</p>
                        <md-button md-no-ink class="md-secondary" ng-click="ctrl.showEvent(event)">
                            <md-icon>
                                <i class="material-icons">remove_red_eye</i>
                            </md-icon>
                            View
                        </md-button>
                        <md-button md-no-ink class="md-primary md-warn" ng-click="ctrl.deleteEvent(event,$index)">
                            <md-icon>
                                <i class="material-icons">delete</i>
                            </md-icon>
                            Delete
                        </md-button>
                    </timeline-panel>
                </timeline-event>
            </timeline>
        </div>
    </md-content>

    <md-sidenav class="md-sidenav-left event-sidenav" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo background-theme">
            <h1 class="md-toolbar-tools">{{ctrl.selectedEvent.title}}</h1>
        </md-toolbar>
        <md-content layout-margin>
            <md-list class="">
                <div ng-repeat="dv in ctrl.selectedEvent.dataValues" ng-init="de=ctrl.getDataElement(dv.dataElement)">
                    <md-list-item class="md-2-line"
                                  ng-if="de.valueType!='COORDINATE'">
                        <md-tooltip md-direction="right">
                            Stored by {{dv.storedBy}}
                        </md-tooltip>
                        <!--<img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}" />-->
                        <md-input-container
                                ng-if="de.valueType=='BOOLEAN' || de.valueType=='TRUE_ONLY'">
                            <p>{{de.displayName}}</p>
                            <!--Due to a bug of angular ng-if should be applied to md-switch too-->
                            <md-switch class="md-secondary md-" ng-model="dv.value" aria-label="Switch 2"
                                       ng-change="ctrl.updateDataValue(dv)"
                                       ng-true-value="'true'" ng-false-value="'false'" class="md-warn"
                                       ng-if="de.valueType=='BOOLEAN' || de.valueType=='TRUE_ONLY'">
                                <!--{{de.displayName}}-->
                            </md-switch>
                        </md-input-container>
                        <md-input-container
                                ng-if="de.valueType=='NUMBER' || de.valueType=='INTEGER_POSITIVE'">
                            <label>{{de.displayName}}</label>
                            <input ng-model="dv.value" ng-blur="ctrl.updateDataValue(dv)"
                                   ng-class="ctrl.getHeightWeightBackgroundColorClass(dv.dataElement)">
                        </md-input-container>
                        <md-input-container
                                ng-if="de.valueType=='TEXT' && de.optionSet">
                            <label>{{de.displayName}}</label>
                            <md-select ng-model="dv.value" ng-change="ctrl.updateDataValue(dv)">
                                <md-option ng-repeat="option in de.optionSet.options"
                                           ng-value="option.code">
                                    {{option.displayName}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container
                                ng-if="de.valueType=='TEXT' && !de.optionSet">
                            <label>{{de.displayName}}</label>
                            <input ng-model="dv.value" ng-blur="ctrl.updateDataValue(dv)">
                        </md-input-container>
                        <!--  <div ng-if="de.valueType!='BOOLEAN' && de.valueType!='TRUE_ONLY'">
                              <p>{{de.displayName}}</p>
                              <p>{{dv.value}}</p>
                          </div>-->
                    </md-list-item>
                </div>
            </md-list>

            <md-divider></md-divider>
            <div ng-if="ctrl.selectedEvent.storedBy">

                <p>Last edited by <i>{{ctrl.selectedEvent.storedBy}}</i></p>
                <md-divider></md-divider>
            </div>


            <md-button class="md-primary" aria-label="Use Android" ng-click="ctrl.completeEvent()"
                       ng-if="ctrl.selectedEvent.status=='ACTIVE'">
                <md-icon>
                    <i class="material-icons">done</i>
                </md-icon>
                Mark as reviewed
            </md-button>
            <md-button class="md-primary" aria-label="Use Android" ng-click="ctrl.completeEvent(true)"
                       ng-if="ctrl.selectedEvent.status!='ACTIVE'">
                <md-icon>
                    <i class="material-icons">undo</i>
                </md-icon>
                Reopen event
            </md-button>
            <md-button ng-click="ctrl.closeNav()" class="md-warn">
                <md-icon>
                    <i class="material-icons">close</i>
                </md-icon>
                Close
            </md-button>
        </md-content>
    </md-sidenav>

    <md-button class="md-fab md-fab md-fab-bottom-right md-faded" aria-label="Add Chart" ng-click="ctrl.navBack()"
               style="position: fixed; right: 20px">
        <md-icon>
            <i class="material-icons">navigate_before</i>
        </md-icon>
    </md-button>
</div>